.cardContainer {
  display: inline-block;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  white-space: nowrap; // Prevents wrapping of contents
  -ms-overflow-style: none; // Internet Explorer 10+
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }
}

// Inner container using Flexbox for horizontal layout
.innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap; // Spacing between cards
}

  .cardWrapper {
    display: flex;
    flex: 0 0 auto; // Card will not grow or shrink
    width: 300px; // Fixed width, adjust as necessary
    margin-right: 20px; // Adds space between cards, adjust as necessary
  }
  
  .card {
    height: auto;
    background: #fff;
    padding: .4em;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  
  .cardImage {
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    width: 300px;  
    height: 200px;
    overflow: hidden;
  }
  
  .cardImage:hover {
    transform: scale(0.98);
  }
  
  .location {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: #222;
    padding: 10px 7px 0;
  }
  
  .location:hover {
    cursor: pointer;
  }
  
  .name {
    font-weight: 600;
    color: #222;
    padding: 7px;
  }
  
  .name:hover {
    cursor: pointer;
  }

.textTitle, .textSmall, .textBase {
  font-weight: bold;
  color: #fff;
}

.propertyDetails {
  display: flex;
  align-items: center; // Ensures vertical centering of children
  margin-top: 10px;

  .detailItem {
    display: flex;
    align-items: center; // Aligns the image and text vertically
    margin-right: 1rem; // Adds space between the items

    &:last-child {
      margin-right: 0; // Removes the margin from the last item
    }

    img {
      // If you have specific styles for the images
    }

    p {
      margin-left: 0.5rem; // Adds space between the image and the text
      font-size: 1.2rem; // Tailwind's text-sm
      font-weight: 500; // Tailwind's font-medium
      color: #4a5568; // Tailwind's text-gray-700
    }
  }
}
